<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 250px; min-height: 100vh;">
    <a href="/client/Home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 fw-bold">Panel Cliente</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/client/Home" class="nav-link text-white d-flex align-items-center">
                <img src="https://img.icons8.com/ios/100/FFFFFF/name--v1.png" class="me-2" width="24" height="24" alt="inicio"/>
                Inicio / Perfil
            </a>
        </li>
        <li class="nav-item">
            <a href="/client/listado_canchas" class="nav-link text-white d-flex align-items-center">
                <img src="https://img.icons8.com/dotty/24/FFFFFF/basketball-field.png" class="me-2" width="24" height="24" alt="canchas"/>
                Listado Canchas
            </a>
        </li>
        <li class="nav-item">
            <a href="/client/historial_reservas" class="nav-link text-white d-flex align-items-center">
                <img src="https://img.icons8.com/parakeet-line/24/FFFFFF/summary-list.png" class="me-2" width="24" height="24" alt="historial"/>
                Historial de Reservas
            </a>
        </li>
        <li class="nav-item">
            <a href="/client/resenas" class="nav-link text-white d-flex align-items-center">
               
                <img src="https://img.icons8.com/laces/64/FFFFFF/chat.png" class="me-2" width="24" height="24" alt="reseñas"/>
               
                Mis Reseñas
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="/logout" class="d-flex align-items-center text-white text-decoration-none">
            <strong>Cerrar Sesión</strong>
        </a>
    </div>
</div>